name: go
on: [push]
jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    steps:

    - name: set up go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: check out
      uses: actions/checkout@v2
    
    - name: go get
      run: go get -u -v ./...

    - name: vet and build
      run: go vet ./... && go build
