name: vet-and-build
on: [push]
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - name: set up
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'
      id: go

    - name: check out
      uses: actions/checkout@v4
    
    - name: deps
      run: go mod download

    - name: vet
      run: go vet ./...

    - name: build
      run: go build
